.card {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $color-silver;
    border-radius: $radius;

    &__tag {
        font-weight: $font-weight-bold;
        font-size: $font-size-smaller;
        padding: 0.4rem 0.8rem;
        line-height: 1.2;
        border-radius: 1rem;
    }

    &__icon {
        width: 2rem;
        height: 2rem;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__body {
        flex: 1 1 auto;
        padding: 1.25rem;
        display: flex;
        flex-direction: column;
    }

    &__title,
    &__intro {
        margin: 0 0 1rem;
    }

    &__info {
        text-transform: uppercase;
    }

    &__link {
        color: currentColor;
        text-decoration: none;
        background: url(../../../assets/icons/arrow-right.svg);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 1.75rem 1.75rem;
        margin-left: auto;
        padding: 0.25rem 2.25rem 0.25rem 0;
        font-size: $font-size-smaller;
    }

    &__header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: $heading-5;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1.25rem;
    }

    &--grid {
        .card__image {
            border-radius: $radius $radius 0 0;
        }

        .card__tag {
            position: absolute;
            top: 1rem;
            left: 1rem;
            color: $color-black;
            background-color: $color-white;
        }

        .card__icon {
            position: absolute;
            top: 1rem;
            right: 1rem;

            svg {
                stroke: $color-white;
            }
        }
    }

    &--list {
        flex-direction: row;
        margin-bottom: $margin;

        .card__image {
            border-radius: $radius 0 0 $radius;
        }

        .card__icon {
            margin-left: 1rem;

            svg {
                stroke: $color-black;
            }
        }

        .card__tag {
            color: $color-white;
            background-color: $color-grey;
        }

        .card__body {
            padding: 2rem 2.75rem;
            justify-content: center;
        }

        .card__info {
            font-weight: $font-weight-bold;
        }
    }

    &--inset {
        color: $color-white;
        padding: 2rem;
        background-color: $color-black;

        .card__image {
            border-radius: 0;
        }

        .card__icon svg {
            stroke: $color-white;
        }

        .card__link {
            background-image: url(../../../assets/icons/arrow-right-light.svg);
        }
    }
}
